.statusbox {
  /* border: 1px solid black; */
  /* padding: 20px; */
  width: 90%;
  height: 320px;
  margin: auto;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  border-radius: 10px;
}

.taskContainer {
  /* background-color: #faf9f6; */
  display: flex;
  background-color: white;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border: 3px solid #206bc4;
  overflow-y: scroll;
  font-size: xx-large;
  height: 90%;
  margin: 0;
  border-radius: 0 10px 10px 10px;
  padding: 10px;
}
h2 {
  width: max-content;
  font-size: x-large;
  font-weight: 600;
  padding-left: 10px;
  background-color: #206bc4;
  margin: 0;
  padding: 0 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}

.taskContainer::-webkit-scrollbar {
  display: none;
}
